In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Book1.csv')
df

,company_name,Industry,Quantity,Month
0,Reliance Industries Limited,Petroleum Products,1696000,May
1,HDFC Bank Limited,Banks,2248000,May
2,State Bank of India,Banks,4300800,May
3,ITC Limited,Diversified FMCG,3581550,May
4,Aurobindo Pharma Limited,Pharmaceuticals & Biotechnology,2412100,May
...,...,...,...,...
92,MANGALORE REFINERY & PETROCHEMICALS LTD,Petroleum Products,1500000,June
93,Arvind SmartSpaces Limited,Realty,206098,June
94,Graphite India Limited,Industrial Products,100000,June
95,Sun Pharmaceutical Industries Limited,Pharmaceuticals & Biotechnology,20000,June
96,Bharti Airtel Limited,Telecom - Services,14000,June

In [3]:
df.nunique()

company_name    55
Industry        29
Quantity        70
Month            2
dtype: int64

In [4]:
df['company_name']

0                 Reliance Industries Limited
1                           HDFC Bank Limited
2                         State Bank of India
3                                 ITC Limited
4                    Aurobindo Pharma Limited
                       ...
92    MANGALORE REFINERY & PETROCHEMICALS LTD
93                 Arvind SmartSpaces Limited
94                     Graphite India Limited
95      Sun Pharmaceutical Industries Limited
96                      Bharti Airtel Limited
Name: company_name, Length: 97, dtype: object

In [5]:
df['Month']=='May'

0      True
1      True
2      True
3      True
4      True
      ...
92    False
93    False
94    False
95    False
96    False
Name: Month, Length: 97, dtype: bool

In [6]:
df1 = pd.read_csv('may.csv')
df2 = pd.read_csv('june.csv')

In [7]:
df1.head()

,SR,ISIN,NAME OF THE INSTRUMENT,RATING,INDUSTRY,QUANTITY
0,1,INE002A01018,Reliance Industries Limited,N.A.,Petroleum Products,1696000
1,2,INE040A01034,HDFC Bank Limited,N.A.,Banks,2248000
2,3,INE062A01020,State Bank of India,N.A.,Banks,4300800
3,4,INE154A01025,ITC Limited,N.A.,Diversified FMCG,3581550
4,5,INE406A01037,Aurobindo Pharma Limited,N.A.,Pharmaceuticals & Biotechnology,2412100

In [8]:
df2.head()

,SR,ISIN,NAME OF THE INSTRUMENT,RATING,INDUSTRY,QUANTITY
0,1,INE002A01018,Reliance Industries Limited,N.A.,Petroleum Products,1767000
1,2,INE040A01034,HDFC Bank Limited,N.A.,Banks,2248000
2,3,INE062A01020,State Bank of India,N.A.,Banks,4300800
3,4,INE406A01037,Aurobindo Pharma Limited,N.A.,Pharmaceuticals & Biotechnology,2732100
4,5,INE154A01025,ITC Limited,N.A.,Diversified FMCG,3581550

In [9]:
df_inner = pd.merge(left=df1, right=df2, how='inner',left_on='NAME OF THE INSTRUMENT',right_on='NAME OF THE INSTRUMENT')

In [10]:
df_inner[['NAME OF THE INSTRUMENT','QUANTITY_y']]

                   NAME OF THE INSTRUMENT  QUANTITY_y
0             Reliance Industries Limited     1767000
1                       HDFC Bank Limited     2248000
2                     State Bank of India     4300800
3                             ITC Limited     3581550
4                Aurobindo Pharma Limited     2732100
5   IRB Infrastructure Developers Limited    48485400
6                 Larsen & Toubro Limited      296482
7      Bikaji Foods International Limited     3487764
8                    Punjab National Bank    26970000
9             Tata Communications Limited     1008297
10                    LTIMindtree Limited      310850
11                       Linde India Ltd.      295710
12                         CRISIL Limited      296765
13                 Escorts Kubota Limited      511600
14           Anupam Rasayan India Limited      914865
15       Dr. Reddy's Laboratories Limited      129000
16               UltraTech Cement Limited      127750
17                            DLF Limited     2110000
18                    Union Bank of India    12873000
19                  Fortis Healthcare Ltd     2656542
20                         Delta Corp Ltd     3501218
21                Aegis Logistics Limited     2115348
22                           HFCL Limited    11429268
23           Capri Global Capital Limited      947300
24                       Tata Coffee Ltd.     2662000
25              Stylam Industries Limited      124905
26             Strides Pharma Science Ltd     1422000
27            Piramal Enterprises Limited      618870
28           Macrotech Developers Limited      869786
29                         Voltas Limited      700000
30               Hindustan Copper Limited     3768150
31               India Pesticides Limited     1826550
32               Jindal Steel & Power Ltd      735000
33                          Bosch Limited       16245
34     Honda India Power Products Limited      115559
35  Network18 Media & Investments Limited     4150465
36                 Nitin Spinners Limited      921336
37                   Century Enka Limited      549076
38                  Rossell India Limited      912700
39    Archean Chemical Industries Limited      375835
40                     TV18 Broadcast Ltd    17345526
41             Arvind SmartSpaces Limited      206098

In [11]:
df_may = pd.merge(left=df1, right=df2, how='left',left_on='NAME OF THE INSTRUMENT',right_on='NAME OF THE INSTRUMENT')

In [12]:
df_may

,SR_x,ISIN_x,NAME OF THE INSTRUMENT,RATING_x,INDUSTRY_x,QUANTITY_x,SR_y,ISIN_y,RATING_y,INDUSTRY_y,QUANTITY_y
0,1,INE002A01018,Reliance Industries Limited,N.A.,Petroleum Products,1696000,1.0,INE002A01018,N.A.,Petroleum Products,1767000.0
1,2,INE040A01034,HDFC Bank Limited,N.A.,Banks,2248000,2.0,INE040A01034,N.A.,Banks,2248000.0
2,3,INE062A01020,State Bank of India,N.A.,Banks,4300800,3.0,INE062A01020,N.A.,Banks,4300800.0
3,4,INE154A01025,ITC Limited,N.A.,Diversified FMCG,3581550,5.0,INE154A01025,N.A.,Diversified FMCG,3581550.0
4,5,INE406A01037,Aurobindo Pharma Limited,N.A.,Pharmaceuticals & Biotechnology,2412100,4.0,INE406A01037,N.A.,Pharmaceuticals & Biotechnology,2732100.0
5,6,INE821I01022,IRB Infrastructure Developers Limited,N.A.,Construction,48485400,10.0,INE821I01022,N.A.,Construction,48485400.0
6,7,INE018A01030,Larsen & Toubro Limited,N.A.,Construction,613000,21.0,INE018A01030,N.A.,Construction,296482.0
7,8,INE00E101023,Bikaji Foods International Limited,N.A.,Food Products,3487764,8.0,INE00E101023,N.A.,Food Products,3487764.0
8,9,INE160A01022,Punjab National Bank,N.A.,Banks,24970000,9.0,INE160A01022,N.A.,Banks,26970000.0
9,10,INE151A01013,Tata Communications Limited,N.A.,Telecom - Services,984297,7.0,INE151A01013,N.A.,Telecom - Services,1008297.0
10,11,INE214T01019,LTIMindtree Limited,N.A.,IT - Software,249350,6.0,INE214T01019,N.A.,IT - Software,310850.0
11,12,INE473A01011,Linde India Ltd.,N.A.,Chemicals & Petrochemicals,295710,11.0,INE473A01011,N.A.,Chemicals & Petrochemicals,295710.0
12,13,INE007A01025,CRISIL Limited,N.A.,Finance,296765,12.0,INE007A01025,N.A.,Finance,296765.0
13,14,INE042A01014,Escorts Kubota Limited,N.A.,"Agricultural, Commercial & Construction Vehicles",511600,13.0,INE042A01014,N.A.,"Agricultural, Commercial & Construction Vehicles",511600.0
14,15,INE930P01018,Anupam Rasayan India Limited,N.A.,Chemicals & Petrochemicals,914865,16.0,INE930P01018,N.A.,Chemicals & Petrochemicals,914865.0
15,16,INE089A01023,Dr. Reddy's Laboratories Limited,N.A.,Pharmaceuticals & Biotechnology,229000,24.0,INE089A01023,N.A.,Pharmaceuticals & Biotechnology,129000.0
16,17,INE481G01011,UltraTech Cement Limited,N.A.,Cement & Cement Products,127750,14.0,INE481G01011,N.A.,Cement & Cement Products,127750.0
17,18,INE271C01023,DLF Limited,N.A.,Realty,2110000,15.0,INE271C01023,N.A.,Realty,2110000.0
18,19,INE692A01016,Union Bank of India,N.A.,Banks,12873000,17.0,INE692A01016,N.A.,Banks,12873000.0
19,20,INE061F01013,Fortis Healthcare Ltd,N.A.,Healthcare Services,2956542,19.0,INE061F01013,N.A.,Healthcare Services,2656542.0
20,21,INE124G01033,Delta Corp Ltd,N.A.,Leisure Services,3201218,18.0,INE124G01033,N.A.,Leisure Services,3501218.0
21,22,INE208C01025,Aegis Logistics Limited,N.A.,Gas,2115348,23.0,INE208C01025,N.A.,Gas,2115348.0
22,23,INE548A01028,HFCL Limited,N.A.,Telecom - Services,11429268,20.0,INE548A01028,N.A.,Telecom - Services,11429268.0
23,24,INE180C01026,Capri Global Capital Limited,N.A.,Finance,947300,22.0,INE180C01026,N.A.,Finance,947300.0
24,25,INE493A01027,Tata Coffee Ltd.,N.A.,Agricultural Food & other Products,2662000,25.0,INE493A01027,N.A.,Agricultural Food & other Products,2662000.0
25,26,INE053A01029,Indian Hotels Co Ltd,N.A.,Leisure Services,1359055,NaN,NaN,NaN,NaN,NaN
26,27,INE239C01020,Stylam Industries Limited,N.A.,Consumer Durables,326470,45.0,INE239C01020,N.A.,Consumer Durables,124905.0
27,28,INE939A01011,Strides Pharma Science Ltd,N.A.,Pharmaceuticals & Biotechnology,1422000,27.0,INE939A01011,N.A.,Pharmaceuticals & Biotechnology,1422000.0
28,29,INE140A01024,Piramal Enterprises Limited,N.A.,Finance,618870,29.0,INE140A01024,N.A.,Finance,618870.0
29,30,INE670K01029,Macrotech Developers Limited,N.A.,Realty,869786,28.0,INE670K01029,N.A.,Realty,869786.0
30,31,INE038A01020,Hindalco Industries Limited,N.A.,Non - Ferrous Metals,1056800,NaN,NaN,NaN,NaN,NaN
31,32,INE226A01021,Voltas Limited,N.A.,Consumer Durables,520000,30.0,INE226A01021,N.A.,Consumer Durables,700000.0
32,33,INE531E01026,Hindustan Copper Limited,N.A.,Non - Ferrous Metals,3768150,32.0,INE531E01026,N.A.,Non - Ferrous Metals,3768150.0
33,34,INE0D6701023,India Pesticides Limited,N.A.,Fertilizers & Agrochemicals,1826550,34.0,INE0D6701023,N.A.,Fertilizers & Agrochemicals,1826550.0
34,35,INE749A01030,Jindal Steel & Power Ltd,N.A.,Ferrous Metals,735000,33.0,INE749A01030,N.A.,Ferrous Metals,735000.0
35,36,INE323A01026,Bosch Limited,N.A.,Auto Components,16245,36.0,INE323A01026,N.A.,Auto Components,16245.0
36,37,INE634A01018,Honda India Power Products Limited,N.A.,Industrial Manufacturing,115559,38.0,INE634A01018,N.A.,Industrial Manufacturing,115559.0
37,38,INE870H01013,Network18 Media & Investments Limited,N.A.,Entertainment,4150465,37.0,INE870H01013,N.A.,Entertainment,4150465.0
38,39,INE229H01012,Nitin Spinners Limited,N.A.,Textiles & Apparels,881369,39.0,INE229H01012,N.A.,Textiles & Apparels,921336.0
39,40,INE485A01015,Century Enka Limited,N.A.,Textiles & Apparels,549076,40.0,INE485A01015,N.A.,Textiles & Apparels,549076.0
40,41,INE07O001026,Easy Trip Planners Limited,N.A.,Leisure Services,4647707,NaN,NaN,NaN,NaN,NaN
41,42,INE847C01020,Rossell India Limited,N.A.,Aerospace & Defense,771625,35.0,INE847C01020,N.A.,Aerospace & Defense,912700.0
42,43,INE128X01021,Archean Chemical Industries Limited,N.A.,Chemicals & Petrochemicals,375835,44.0,INE128X01021,N.A.,Chemicals & Petrochemicals,375835.0
43,44,INE886H01027,TV18 Broadcast Ltd,N.A.,Entertainment,2500000,26.0,INE886H01027,N.A.,Entertainment,17345526.0
44,45,INE034S01021,Arvind SmartSpaces Limited,N.A.,Realty,168747,48.0,INE034S01021,N.A.,Realty,206098.0
45,46,INE933A01014,Lyka Labs Limited,N.A.,Pharmaceuticals & Biotechnology,395857,NaN,NaN,NaN,NaN,NaN

In [13]:
df_may[['NAME OF THE INSTRUMENT','QUANTITY_y']]

                   NAME OF THE INSTRUMENT  QUANTITY_y
0             Reliance Industries Limited   1767000.0
1                       HDFC Bank Limited   2248000.0
2                     State Bank of India   4300800.0
3                             ITC Limited   3581550.0
4                Aurobindo Pharma Limited   2732100.0
5   IRB Infrastructure Developers Limited  48485400.0
6                 Larsen & Toubro Limited    296482.0
7      Bikaji Foods International Limited   3487764.0
8                    Punjab National Bank  26970000.0
9             Tata Communications Limited   1008297.0
10                    LTIMindtree Limited    310850.0
11                       Linde India Ltd.    295710.0
12                         CRISIL Limited    296765.0
13                 Escorts Kubota Limited    511600.0
14           Anupam Rasayan India Limited    914865.0
15       Dr. Reddy's Laboratories Limited    129000.0
16               UltraTech Cement Limited    127750.0
17                            DLF Limited   2110000.0
18                    Union Bank of India  12873000.0
19                  Fortis Healthcare Ltd   2656542.0
20                         Delta Corp Ltd   3501218.0
21                Aegis Logistics Limited   2115348.0
22                           HFCL Limited  11429268.0
23           Capri Global Capital Limited    947300.0
24                       Tata Coffee Ltd.   2662000.0
25                   Indian Hotels Co Ltd         NaN
26              Stylam Industries Limited    124905.0
27             Strides Pharma Science Ltd   1422000.0
28            Piramal Enterprises Limited    618870.0
29           Macrotech Developers Limited    869786.0
30            Hindalco Industries Limited         NaN
31                         Voltas Limited    700000.0
32               Hindustan Copper Limited   3768150.0
33               India Pesticides Limited   1826550.0
34               Jindal Steel & Power Ltd    735000.0
35                          Bosch Limited     16245.0
36     Honda India Power Products Limited    115559.0
37  Network18 Media & Investments Limited   4150465.0
38                 Nitin Spinners Limited    921336.0
39                   Century Enka Limited    549076.0
40             Easy Trip Planners Limited         NaN
41                  Rossell India Limited    912700.0
42    Archean Chemical Industries Limited    375835.0
43                     TV18 Broadcast Ltd  17345526.0
44             Arvind SmartSpaces Limited    206098.0
45                      Lyka Labs Limited         NaN

In [14]:
df_june = pd.merge(left=df1, right=df2, how='right',left_on='NAME OF THE INSTRUMENT',right_on='NAME OF THE INSTRUMENT')

In [15]:
df_june

,SR_x,ISIN_x,NAME OF THE INSTRUMENT,RATING_x,INDUSTRY_x,QUANTITY_x,SR_y,ISIN_y,RATING_y,INDUSTRY_y,QUANTITY_y
0,1.0,INE002A01018,Reliance Industries Limited,N.A.,Petroleum Products,1696000.0,1,INE002A01018,N.A.,Petroleum Products,1767000
1,2.0,INE040A01034,HDFC Bank Limited,N.A.,Banks,2248000.0,2,INE040A01034,N.A.,Banks,2248000
2,3.0,INE062A01020,State Bank of India,N.A.,Banks,4300800.0,3,INE062A01020,N.A.,Banks,4300800
3,5.0,INE406A01037,Aurobindo Pharma Limited,N.A.,Pharmaceuticals & Biotechnology,2412100.0,4,INE406A01037,N.A.,Pharmaceuticals & Biotechnology,2732100
4,4.0,INE154A01025,ITC Limited,N.A.,Diversified FMCG,3581550.0,5,INE154A01025,N.A.,Diversified FMCG,3581550
5,11.0,INE214T01019,LTIMindtree Limited,N.A.,IT - Software,249350.0,6,INE214T01019,N.A.,IT - Software,310850
6,10.0,INE151A01013,Tata Communications Limited,N.A.,Telecom - Services,984297.0,7,INE151A01013,N.A.,Telecom - Services,1008297
7,8.0,INE00E101023,Bikaji Foods International Limited,N.A.,Food Products,3487764.0,8,INE00E101023,N.A.,Food Products,3487764
8,9.0,INE160A01022,Punjab National Bank,N.A.,Banks,24970000.0,9,INE160A01022,N.A.,Banks,26970000
9,6.0,INE821I01022,IRB Infrastructure Developers Limited,N.A.,Construction,48485400.0,10,INE821I01022,N.A.,Construction,48485400
10,12.0,INE473A01011,Linde India Ltd.,N.A.,Chemicals & Petrochemicals,295710.0,11,INE473A01011,N.A.,Chemicals & Petrochemicals,295710
11,13.0,INE007A01025,CRISIL Limited,N.A.,Finance,296765.0,12,INE007A01025,N.A.,Finance,296765
12,14.0,INE042A01014,Escorts Kubota Limited,N.A.,"Agricultural, Commercial & Construction Vehicles",511600.0,13,INE042A01014,N.A.,"Agricultural, Commercial & Construction Vehicles",511600
13,17.0,INE481G01011,UltraTech Cement Limited,N.A.,Cement & Cement Products,127750.0,14,INE481G01011,N.A.,Cement & Cement Products,127750
14,18.0,INE271C01023,DLF Limited,N.A.,Realty,2110000.0,15,INE271C01023,N.A.,Realty,2110000
15,15.0,INE930P01018,Anupam Rasayan India Limited,N.A.,Chemicals & Petrochemicals,914865.0,16,INE930P01018,N.A.,Chemicals & Petrochemicals,914865
16,19.0,INE692A01016,Union Bank of India,N.A.,Banks,12873000.0,17,INE692A01016,N.A.,Banks,12873000
17,21.0,INE124G01033,Delta Corp Ltd,N.A.,Leisure Services,3201218.0,18,INE124G01033,N.A.,Leisure Services,3501218
18,20.0,INE061F01013,Fortis Healthcare Ltd,N.A.,Healthcare Services,2956542.0,19,INE061F01013,N.A.,Healthcare Services,2656542
19,23.0,INE548A01028,HFCL Limited,N.A.,Telecom - Services,11429268.0,20,INE548A01028,N.A.,Telecom - Services,11429268
20,7.0,INE018A01030,Larsen & Toubro Limited,N.A.,Construction,613000.0,21,INE018A01030,N.A.,Construction,296482
21,24.0,INE180C01026,Capri Global Capital Limited,N.A.,Finance,947300.0,22,INE180C01026,N.A.,Finance,947300
22,22.0,INE208C01025,Aegis Logistics Limited,N.A.,Gas,2115348.0,23,INE208C01025,N.A.,Gas,2115348
23,16.0,INE089A01023,Dr. Reddy's Laboratories Limited,N.A.,Pharmaceuticals & Biotechnology,229000.0,24,INE089A01023,N.A.,Pharmaceuticals & Biotechnology,129000
24,25.0,INE493A01027,Tata Coffee Ltd.,N.A.,Agricultural Food & other Products,2662000.0,25,INE493A01027,N.A.,Agricultural Food & other Products,2662000
25,44.0,INE886H01027,TV18 Broadcast Ltd,N.A.,Entertainment,2500000.0,26,INE886H01027,N.A.,Entertainment,17345526
26,28.0,INE939A01011,Strides Pharma Science Ltd,N.A.,Pharmaceuticals & Biotechnology,1422000.0,27,INE939A01011,N.A.,Pharmaceuticals & Biotechnology,1422000
27,30.0,INE670K01029,Macrotech Developers Limited,N.A.,Realty,869786.0,28,INE670K01029,N.A.,Realty,869786
28,29.0,INE140A01024,Piramal Enterprises Limited,N.A.,Finance,618870.0,29,INE140A01024,N.A.,Finance,618870
29,32.0,INE226A01021,Voltas Limited,N.A.,Consumer Durables,520000.0,30,INE226A01021,N.A.,Consumer Durables,700000
30,NaN,NaN,TD Power Systems Ltd,NaN,NaN,NaN,31,INE419M01027,N.A.,Electrical Equipment,2025000
31,33.0,INE531E01026,Hindustan Copper Limited,N.A.,Non - Ferrous Metals,3768150.0,32,INE531E01026,N.A.,Non - Ferrous Metals,3768150
32,35.0,INE749A01030,Jindal Steel & Power Ltd,N.A.,Ferrous Metals,735000.0,33,INE749A01030,N.A.,Ferrous Metals,735000
33,34.0,INE0D6701023,India Pesticides Limited,N.A.,Fertilizers & Agrochemicals,1826550.0,34,INE0D6701023,N.A.,Fertilizers & Agrochemicals,1826550
34,42.0,INE847C01020,Rossell India Limited,N.A.,Aerospace & Defense,771625.0,35,INE847C01020,N.A.,Aerospace & Defense,912700
35,36.0,INE323A01026,Bosch Limited,N.A.,Auto Components,16245.0,36,INE323A01026,N.A.,Auto Components,16245
36,38.0,INE870H01013,Network18 Media & Investments Limited,N.A.,Entertainment,4150465.0,37,INE870H01013,N.A.,Entertainment,4150465
37,37.0,INE634A01018,Honda India Power Products Limited,N.A.,Industrial Manufacturing,115559.0,38,INE634A01018,N.A.,Industrial Manufacturing,115559
38,39.0,INE229H01012,Nitin Spinners Limited,N.A.,Textiles & Apparels,881369.0,39,INE229H01012,N.A.,Textiles & Apparels,921336
39,40.0,INE485A01015,Century Enka Limited,N.A.,Textiles & Apparels,549076.0,40,INE485A01015,N.A.,Textiles & Apparels,549076
40,NaN,NaN,Sula Vineyards Limited,NaN,NaN,NaN,41,INE142Q01026,N.A.,Beverages,500000
41,NaN,NaN,Mahindra CIE Automotive Limited,NaN,NaN,NaN,42,INE536H01010,N.A.,Auto Components,435000
42,NaN,NaN,IKIO LIGHTING LIMITED,NaN,NaN,NaN,43,INE0LOJ01019,N.A.,Consumer Durables,490021
43,43.0,INE128X01021,Archean Chemical Industries Limited,N.A.,Chemicals & Petrochemicals,375835.0,44,INE128X01021,N.A.,Chemicals & Petrochemicals,375835
44,27.0,INE239C01020,Stylam Industries Limited,N.A.,Consumer Durables,326470.0,45,INE239C01020,N.A.,Consumer Durables,124905
45,NaN,NaN,Aavas Financiers Limited,NaN,NaN,NaN,46,INE216P01012,N.A.,Finance,80000
46,NaN,NaN,MANGALORE REFINERY & PETROCHEMICALS LTD,NaN,NaN,NaN,47,INE103A01014,N.A.,Petroleum Products,1500000
47,45.0,INE034S01021,Arvind SmartSpaces Limited,N.A.,Realty,168747.0,48,INE034S01021,N.A.,Realty,206098
48,NaN,NaN,Graphite India Limited,NaN,NaN,NaN,49,INE371A01025,N.A.,Industrial Products,100000
49,NaN,NaN,Sun Pharmaceutical Industries Limited,NaN,NaN,NaN,50,INE044A01036,N.A.,Pharmaceuticals & Biotechnology,20000
50,NaN,NaN,Bharti Airtel Limited,NaN,NaN,NaN,51,INE397D01024,N.A.,Telecom - Services,14000

In [16]:
df_june[['SR_x','NAME OF THE INSTRUMENT','QUANTITY_y']]

    SR_x                   NAME OF THE INSTRUMENT  QUANTITY_y
0    1.0              Reliance Industries Limited     1767000
1    2.0                        HDFC Bank Limited     2248000
2    3.0                      State Bank of India     4300800
3    5.0                 Aurobindo Pharma Limited     2732100
4    4.0                              ITC Limited     3581550
5   11.0                      LTIMindtree Limited      310850
6   10.0              Tata Communications Limited     1008297
7    8.0       Bikaji Foods International Limited     3487764
8    9.0                     Punjab National Bank    26970000
9    6.0    IRB Infrastructure Developers Limited    48485400
10  12.0                         Linde India Ltd.      295710
11  13.0                           CRISIL Limited      296765
12  14.0                   Escorts Kubota Limited      511600
13  17.0                 UltraTech Cement Limited      127750
14  18.0                              DLF Limited     2110000
15  15.0             Anupam Rasayan India Limited      914865
16  19.0                      Union Bank of India    12873000
17  21.0                           Delta Corp Ltd     3501218
18  20.0                    Fortis Healthcare Ltd     2656542
19  23.0                             HFCL Limited    11429268
20   7.0                  Larsen & Toubro Limited      296482
21  24.0             Capri Global Capital Limited      947300
22  22.0                  Aegis Logistics Limited     2115348
23  16.0         Dr. Reddy's Laboratories Limited      129000
24  25.0                         Tata Coffee Ltd.     2662000
25  44.0                       TV18 Broadcast Ltd    17345526
26  28.0               Strides Pharma Science Ltd     1422000
27  30.0             Macrotech Developers Limited      869786
28  29.0              Piramal Enterprises Limited      618870
29  32.0                           Voltas Limited      700000
30   NaN                     TD Power Systems Ltd     2025000
31  33.0                 Hindustan Copper Limited     3768150
32  35.0                 Jindal Steel & Power Ltd      735000
33  34.0                 India Pesticides Limited     1826550
34  42.0                    Rossell India Limited      912700
35  36.0                            Bosch Limited       16245
36  38.0    Network18 Media & Investments Limited     4150465
37  37.0       Honda India Power Products Limited      115559
38  39.0                   Nitin Spinners Limited      921336
39  40.0                     Century Enka Limited      549076
40   NaN                   Sula Vineyards Limited      500000
41   NaN          Mahindra CIE Automotive Limited      435000
42   NaN                    IKIO LIGHTING LIMITED      490021
43  43.0      Archean Chemical Industries Limited      375835
44  27.0                Stylam Industries Limited      124905
45   NaN                 Aavas Financiers Limited       80000
46   NaN  MANGALORE REFINERY & PETROCHEMICALS LTD     1500000
47  45.0               Arvind SmartSpaces Limited      206098
48   NaN                   Graphite India Limited      100000
49   NaN    Sun Pharmaceutical Industries Limited       20000
50   NaN                    Bharti Airtel Limited       14000

In [17]:
df_inner.to_csv('common_may_june.csv',index=False)

PermissionError: [Errno 13] Permission denied: 'common_may_june.csv'

In [ ]:
df_may.to_csv('may1.csv',index=False)

In [ ]:
df_june.to_csv('june1.csv',index=False)

In [ ]:
df_outer = pd.merge(left=df1, right=df2, how='outer',left_on='NAME OF THE INSTRUMENT',right_on='NAME OF THE INSTRUMENT')

In [ ]:
df_outer[['SR_x','NAME OF THE INSTRUMENT','QUANTITY_y']]

    SR_x                   NAME OF THE INSTRUMENT  QUANTITY_y
0    1.0              Reliance Industries Limited   1767000.0
1    2.0                        HDFC Bank Limited   2248000.0
2    3.0                      State Bank of India   4300800.0
3    4.0                              ITC Limited   3581550.0
4    5.0                 Aurobindo Pharma Limited   2732100.0
5    6.0    IRB Infrastructure Developers Limited  48485400.0
6    7.0                  Larsen & Toubro Limited    296482.0
7    8.0       Bikaji Foods International Limited   3487764.0
8    9.0                     Punjab National Bank  26970000.0
9   10.0              Tata Communications Limited   1008297.0
10  11.0                      LTIMindtree Limited    310850.0
11  12.0                         Linde India Ltd.    295710.0
12  13.0                           CRISIL Limited    296765.0
13  14.0                   Escorts Kubota Limited    511600.0
14  15.0             Anupam Rasayan India Limited    914865.0
15  16.0         Dr. Reddy's Laboratories Limited    129000.0
16  17.0                 UltraTech Cement Limited    127750.0
17  18.0                              DLF Limited   2110000.0
18  19.0                      Union Bank of India  12873000.0
19  20.0                    Fortis Healthcare Ltd   2656542.0
20  21.0                           Delta Corp Ltd   3501218.0
21  22.0                  Aegis Logistics Limited   2115348.0
22  23.0                             HFCL Limited  11429268.0
23  24.0             Capri Global Capital Limited    947300.0
24  25.0                         Tata Coffee Ltd.   2662000.0
25  26.0                     Indian Hotels Co Ltd         NaN
26  27.0                Stylam Industries Limited    124905.0
27  28.0               Strides Pharma Science Ltd   1422000.0
28  29.0              Piramal Enterprises Limited    618870.0
29  30.0             Macrotech Developers Limited    869786.0
30  31.0              Hindalco Industries Limited         NaN
31  32.0                           Voltas Limited    700000.0
32  33.0                 Hindustan Copper Limited   3768150.0
33  34.0                 India Pesticides Limited   1826550.0
34  35.0                 Jindal Steel & Power Ltd    735000.0
35  36.0                            Bosch Limited     16245.0
36  37.0       Honda India Power Products Limited    115559.0
37  38.0    Network18 Media & Investments Limited   4150465.0
38  39.0                   Nitin Spinners Limited    921336.0
39  40.0                     Century Enka Limited    549076.0
40  41.0               Easy Trip Planners Limited         NaN
41  42.0                    Rossell India Limited    912700.0
42  43.0      Archean Chemical Industries Limited    375835.0
43  44.0                       TV18 Broadcast Ltd  17345526.0
44  45.0               Arvind SmartSpaces Limited    206098.0
45  46.0                        Lyka Labs Limited         NaN
46   NaN                     TD Power Systems Ltd   2025000.0
47   NaN                   Sula Vineyards Limited    500000.0
48   NaN          Mahindra CIE Automotive Limited    435000.0
49   NaN                    IKIO LIGHTING LIMITED    490021.0
50   NaN                 Aavas Financiers Limited     80000.0
51   NaN  MANGALORE REFINERY & PETROCHEMICALS LTD   1500000.0
52   NaN                   Graphite India Limited    100000.0
53   NaN    Sun Pharmaceutical Industries Limited     20000.0
54   NaN                    Bharti Airtel Limited     14000.0